<% content_for :title, "Friends" %>

<h1>Friends List</h1>

<div id="friends" style="display: flex;">
  <% @friends.each do |friend| %>
    <div class="card" id="<%= dom_id friend %>" style="width:40%; margin:5px;">
  <div class="card-body">  
    <p>
      <strong class="card-title">First name:</strong>
      <%= friend.first_name %>
    </p>

    <p class="card-text">
      <strong>Last name:</strong>
      <%= friend.last_name %>
    </p>

    <p  class="card-text">
      <strong>Email:</strong>
      <%= friend.email %>
    </p>

    <p  class="card-text">
      <strong>Phone:</strong>
      <%= friend.phone %>
    </p>

    <p  class="card-text">
      <strong>Twitter:</strong>
      <%= friend.twitter %>
    </p>
    <p>
    <%= link_to "Show this friend", friend, class:"btn btn-secondary" %>
  </p>
  </div>
</div>

  <% end %>
</div>

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>
